{{template "base" .}}
{{define "body"}}
        <nav>
            <a href='/user/signup' class='signup'>Signup</a>
            <a href='/user/login' class='signup'>Login</a>
        </nav>
        <img src="/static/image/suresh-gopi1.jpg" alt="welcome" width="800" height="400">
{{end}}
{{define "button"}}
{{end}}
{{define "response"}}
{{end}}
