{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Open Ai Dev Tools</title>
        <link rel="stylesheet" href='/static/css/main.css'>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-ksm0Y9MDTFAnw/NkOlQvSYrJzXv4b7y6gM4FfXZ4rj3k6VSHksFSTLPaNHtAn5q6" crossorigin="anonymous">
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Ubuntu'>
    </head>
    <body>

       <section class="devtools-container">
       <h1>ChatGPT DevTools</h1>
        {{template "body" .}}
        {{template "button" .}}
        {{template "response" .}}
         </section>
    </body>
</html>
{{end}}