{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Open Ai Dev Tools</title>
        <link rel="stylesheet" href='/static/css/main.css'>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Ubuntu'>
    </head>
    <body>

       <section class="devtools-container">
       <h1>ChatGPT DevTools</h1>
        <nav>
            <a href='/user/signup' class='signup'>Signup</a>
            <a href='/user/login' class='signup'>Login</a>
            <a href='/' class='logout'>Home</a>
        </nav>
         {{template "body" .}}
         {{template "button" .}}
        </form>
        </div>
        {{template "response" .}}
         </section>
    </body>
</html>
{{end}}