{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Open Ai Dev Tools</title>
        <link rel="stylesheet" href='/static/css/main.css'>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Ubuntu'>
    </head>
    <body>
        {{template "body" .}}
    </body>
</html>
{{end}}