{{define "hero"}}
 <div class="mx-auto max-w-2xl py-24 sm:py-24 lg:py-30">
      <div class="text-center">
        <h1 class="text-4xl font-bold text-gray-900 sm:text-6xl">Custom GPTs for Developers</h1>
       
        <p class="mt-6 text-lg leading-8 text-gray-600">Use ChatGPT as a debugger, tester, code explainer or create your own GPT</p>
        
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="/login" class="rounded-md bg-fuchsia-600 px-10 py-5 text-lg text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Login
          </a>
        </div>
      </div>
    </div>
{{end}}