{{template "base" .}}

{{define "body"}}
    <nav class="flex items-center justify-between mx-auto max-w-5xl py-12 h-16 pt-16" aria-label="Global">
            <a href="/" class="-m-1.5 p-1.5 z-10">
                 <img class="h-20 w-auto" src="/static/image/gpt-devtools-logo-nbg.png" alt="">
            </a>

            <div class="hidden lg:flex lg:space-x-10 mx-4">
                <a href="/" title="" class="text-lg font-medium text-black transition-all duration-200 hover:text-blue-600 focus:text-blue-600"> Home </a>
                <a href="/logout" title="" class="text-lg font-medium text-black transition-all duration-200 hover:text-blue-600 focus:text-blue-600"> Logout </a>
            </div>
    </nav>

    <div class='list-controls'>      
        <h1 class="text-3xl mb-8"> Your GPTs </h1>
        <div class="gptList flex flex-wrap gap-4 justify-center" > 
            {{range .AllButton}}
                <form method="GET" class="devtools-buttons" action="/customgpt">
                    <input type="hidden" name="id" value="{{.ID}}">
                    <input class="rounded-md bg-fuchsia-600 px-10 py-5 text-lg text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" type="submit" value="{{.SystemName}}">
                </form>
            {{end}}
        </div>

        <hr class="w-96 h-2 mx-auto my-4 bg-gradient-to-r from-fuchsia-600 via-fuchsia-300 to-fuchsia-600 border-0 rounded md:my-10">
          
        <h1 class="text-3xl mb-8"> OR </h1>
        <form method="GET" class="devtools-buttons" action="/rendercustomgpt">
            <input class="rounded-md bg-fuchsia-600 px-10 py-5 text-lg text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" type="submit" value="Create a new Custom GPT">
        </form>
    </div>
{{end}}
