{{template "base" .}}
{{define "body"}}
<section class="devtools-container">
    <h1>ChatGPT DevTools</h1>
    <nav>
        <a href='/user/signup' class='signup'>Signup</a>
        <a href='/user/login' class='signup'>Login</a>
    </nav>
       
      <!--  <form method="POST" class="devtools-buttons" action="/tester">
            <input type="submit" value="Tester">
        </form>
        <form method="POST" class="devtools-buttons" action="/formatter">
            <input type="submit" value="Formatter">
        </form>
        <form method="POST" class="devtools-buttons" action="/newfunction">
            <input type="submit" value="New">
        </form> -->

         <form method="POST" class="devtools-buttons" action="/debugger">
            <input type="submit" value="Debugger">
            <label>Code here</label>
            <textarea name="Message"></textarea>
            <input type="submit" value="Submit">
        </form>

    <form class="response-section">
        <h2>Your response here</h2>
        {{if ne . ""}}
        <p>{{.}}</p>
        {{end}}
    </form>
</section>
{{end}}