{{template "base" .}}

{{define "body"}}
     <nav class="relative z-10 flex items-center justify-between  mx-auto max-w-5xl py-12 h-16 pt-16" aria-label="Global">
            <a href="/" class="-m-1.5 p-1.5 z-10">
                 <img class="h-20 w-auto" src="/static/image/gpt-devtools-logo-nbg.png" alt="">
            </a>

            <div class="hidden lg:flex lg:space-x-10 mx-4">
                <a href="/" title="" class="text-lg font-medium text-black transition-all duration-200 hover:text-blue-600 focus:text-blue-600"> Home </a>
                <a href="/logout" title="" class="text-lg font-medium text-black transition-all duration-200 hover:text-blue-600 focus:text-blue-600"> Logout </a>
            </div>
    </nav>


<div class="mx-auto max-w-5xl z-10 relative">
    <h2 class="text-3xl mb-8">{{.PageLayoutData.SystemName}}</h2>
    
    <!-- <form method="POST" class="devtools-buttons" action="/deletecustomgpt">
        <input type="hidden" name="id" value="{{.PageLayoutData.ID}}">
        <input type="submit" value="Delete">
    </form> -->
            
    <form method="POST" class="devtools-buttons" action="">
        <input type="hidden" value="{{.PageLayoutData.SystemName}}" data-id="{{.PageLayoutData.ID}}"> 
        <textarea class="h-40 block p-2.5 w-full text-base text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" name="Message" placeholder="Please write your query here"></textarea>

        <input type="submit" value="Submit" class="mt-4 text-xl bg-fuchsia-600 text-white py-4 px-14 rounded-lg hover:bg-fuchsia-800 transition duration-300">
    </form>  

    
    {{if ne .PromptMessage ""}}
    <div class="response-section border rounded border-slate-700">
            
            <h2 class="text-2xl mb-8">Prompt: </h2>
            <p>{{.PromptMessage}}</p>
            
            {{if gt (len .Response) 0}}
                <h2 class="text-2xl mb-8">Response: </h2>
                <div>{{.Response}}</div>
            {{end}}
    </div> 
    {{end}}
{{end}}