{{template "base" .}}
{{define "body"}}
<body>
    <form method="POST" action="">
        <h1> Sign In </h1>
            Name<br>
            <input type="text" name="SigninName" placeholder="Name">
            Username<br>
            <input type="text" name="SigninUsername" placeholder="Username">
            Password<br>
            <input type="password" name="SigninPassword" placeholder="Password">
            <input type="submit" name="submit" value="Submit">
            <input type="reset" value="Reset">
{{end}}
{{define "response"}}
{{end}}